<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hary.core.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.hary.core.entity.Commodity" >
    <id column="commodity_Id" property="commodityId" jdbcType="BIGINT" />
    <result column="commodity_Name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_Price" property="commodityPrice" jdbcType="DOUBLE" />
    <result column="commodity_Inventory" property="commodityInventory" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    commodity_Id, commodity_Name, commodity_Price, commodity_Inventory
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    where commodity_Id = #{commodityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from commodity
    where commodity_Id = #{commodityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hary.core.entity.Commodity" >
    insert into commodity (commodity_Id, commodity_Name, commodity_Price, 
      commodity_Inventory)
    values (#{commodityId,jdbcType=BIGINT}, #{commodityName,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=DOUBLE}, 
      #{commodityInventory,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hary.core.entity.Commodity" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        commodity_Id,
      </if>
      <if test="commodityName != null" >
        commodity_Name,
      </if>
      <if test="commodityPrice != null" >
        commodity_Price,
      </if>
      <if test="commodityInventory != null" >
        commodity_Inventory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        #{commodityPrice,jdbcType=DOUBLE},
      </if>
      <if test="commodityInventory != null" >
        #{commodityInventory,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hary.core.entity.Commodity" >
    update commodity
    <set >
      <if test="commodityName != null" >
        commodity_Name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        commodity_Price = #{commodityPrice,jdbcType=DOUBLE},
      </if>
      <if test="commodityInventory != null" >
        commodity_Inventory = #{commodityInventory,jdbcType=BIGINT},
      </if>
    </set>
    where commodity_Id = #{commodityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hary.core.entity.Commodity" >
    update commodity
    set commodity_Name = #{commodityName,jdbcType=VARCHAR},
      commodity_Price = #{commodityPrice,jdbcType=DOUBLE},
      commodity_Inventory = #{commodityInventory,jdbcType=BIGINT}
    where commodity_Id = #{commodityId,jdbcType=BIGINT}
  </update>

  <!-- 根据商品ID使库存减一 -->
  <update id="updateInventoryByCommodityId" parameterType="java.lang.Long">
    update commodity
    set commodity_Inventory = IF(commodity_Inventory &lt; 1, 0, commodity_Inventory - 1)
    where commodity_Id = #{commodityId}
  </update>

</mapper>