<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hary.core.mapper.UserMapper" >

  <!-- 结果集 -->
  <resultMap id="BaseResultMap" type="com.hary.core.entity.User" >
    <id column="user_Id" property="user_Id" jdbcType="BIGINT" />
    <result column="user_Name" property="user_Name" jdbcType="VARCHAR" />
    <result column="user_Tel" property="user_Tel" jdbcType="VARCHAR" />
    <result column="user_Password" property="user_Password" jdbcType="VARCHAR" />
    <result column="user_Age" property="user_Age" jdbcType="INTEGER"/>
    <result column="user_Sex" property="user_Sex" jdbcType="VARCHAR"/>
    <result column="user_Identity" property="user_Identity" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- sql文件 -->
  <sql id="Base_Column_List" >
    user_Id, user_Name, user_Tel, user_Password, user_Age, user_Sex, user_Identity
  </sql>

  <!-- 查询User的总数 -->
  <select id="queryRecord" resultType="Integer">
    select count(*) from user
  </select>

  <!-- 查询所有的User -->
  <select id="queryAllUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
  </select>

  <!-- 根据UserID查询User -->
  <select id="queryUserByID" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_Id = #{id}
  </select>

  <!-- 分页查询User -->
  <select id="queryUserByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from user
    limit #{beginIndex} , #{usersPerPage}
  </select>

  <!-- 根据用户名和密码查询User -->
  <select id="queryUserByUsernameAndPassword" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_Name = #{username} and user_Password = #{password}
  </select>

  <!-- 根据Tel查询User -->
  <select id="queryUserByUser_Tel" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_Tel = #{tel}
  </select>

  <!-- 根据Name查询User -->
  <select id="queryUserByUser_Name" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from user
    where user_Name = #{username}
  </select>

  <!-- 根据UserID删除User -->
  <delete id="deleteUserByID" parameterType="java.lang.Long" >
    delete from user
    where user_Id = #{id}
  </delete>

  <!-- 添加User -->
  <insert id="addUser" parameterType="com.hary.core.entity.User" >
    insert into user (user_Name, user_Tel, user_Password, user_Age, user_Sex, user_Identity)
    values (#{user_Name}, #{user_Tel}, #{user_Password}, #{user_Age}, #{user_Sex}, #{user_Identity})
  </insert>

  <!-- 根据UserID更新UserPassword -->
  <update id="updateUserPasswordById">
    update user
    set user_Password = #{password}
    where user_Id = #{id}
  </update>

  <!-- 批量增加用户数据(Tel,Age,Sex） -->
  <update id="updateUserTelAgeSexById">
    update user
    set user_Tel = #{tel} , user_Age = #{age} , user_Sex = #{sex}
    where user_Id = #{id}
  </update>
</mapper>